{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
 {% block body %}
{# 
{{id}}
<h1>
{{year}}
{{year}}
{{year}}
{{slug}}
</h1>
{{ include('test/index.html.twig', { 'article': article }) }} #}
{# {{slug}} #}
<img src="{{asset('home.GIF')}}" style="width: 250px;height:100px;">

    
    <h1>Qu'est-ce que le Lorem Ipsum?</h1>
    <p><text>Le faux-texte (également appelé lorem ipsum, lipsum, ou bolo bolo) est, en imprimerie, un texte sans signification, dont le seul objectif est de calibrer le contenu</p>


 {% endblock %}


 