{% extends 'base.html.twig' %}

{% block crud %}

    <div class="container ">
        <div class="section text-left offset-1 mt-0">
            <div class="row offset-2">
                <div class="center  offset-1">
                    <i class="material-icons">Informations</i>
                    <p class="promo-caption">de la voiture le la voiture N°{{Car.id}}</p>
                    <p class="light center">En poursuivant votre navigation sur ce site vous acceptez que des cookies
                         soient utilisés afin d'améliorer votre expérience d'utilisateur.</p>
                </div>
              
                <div class="col-md-12  " style="border: 1px solid">
                    <div class="row">
                           
                        &nbsp; &nbsp;
                        <label for="">
                            <h4>L'id de la voiture est
                            </h4>
                        </label>
                     
                        <h4>
                            &nbsp;:
                            {{Car.id}} </h4>
                    </div>

                    <div class="row">
                        
                        &nbsp; &nbsp;
                        <label for="">
                            <h4>Model
                            </h4>
                        </label>
                        <h4>
                            &nbsp;:
                            {{Car.getModel}}</h4>
                    </div>
                    <div class="row">
                        &nbsp; &nbsp;
                        <label for="">
                            <h4>nom
                            </h4>
                        </label>
                        <h4>
                            &nbsp;:
                            {{Car.name}}</h4>
                    </div>

                    <div class="row">
                        &nbsp; &nbsp;
                        <label for="">
                            <h4>Price
                            </h4>
                        </label>
                        <h4>
                            &nbsp;:
                            {{Car.price}}€</h4>
                    </div>

                    {% if Car.image.name is defined %}
                     
                            <label>
                              <h3>Image : &nbsp;&nbsp;</h3>  
                            </label>
                                <img
                                    width="100px"
                                    height="100px"
                                    src="{{ asset('pic/')~Car.image.name  }}"
                                    class="center">
                           
                        
                    {% else %}
                        <p>
                            aucune image isérée</p>
                    {% endif %}
<br>
                    {% for keyword in Car.keywords %}

                        <p>
                            {{ keyword.name }}
                            {% if not loop.last %},
                            {% endif %}
                        </p>

                    {% endfor %}
                    <label class="lg" style="size:10ex">
                        <h4>cities :</h4>
                    </label>
                    {% if Car.cities | length > 0 %}
                        <p>
                            {% for city in Car.cities %}
                                <a class="waves-effect waves-light btn">
                                    <i class="material-icons left  ">
                                        {{ city.name }}</i>
                                </a>
                                {% if not loop.last %}{% endif %}
                            {% endfor %}
                        </p>
                    {% endif %}


                    <br>
                    <strong>
                        <label for="">Description :</label>
                    </strong>
                    <blockquote>
                        <p>{{Car.description}}</p>
                    </blockquote>
                    <a href="{{path('library')}}" class="float-right btn ">Accueil</a>
                </div>

            </div>

        </div>
    </div>
    <br><br>
<style>
    label{
        color:darkblue;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-style:unset ;
    }
</style>
{% endblock %}
{% block body1 %}{% endblock %}