
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Materialize Starter template</title>

  <!-- CSS  -->
  {# <img src="{{asset('home.GIF')}}" style="width: 250px;height:100px;"> #}
  <link href=" {{asset('css/materialize.min.css') }}" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  
  <link rel="stylesheet" href=" {{ asset('css/bootstrap.min.css')  }} "/>
  <link rel="stylesheet" href="{{ asset('font-awesome-4.3.0/css/font-awesome.min.css') }}"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">


 
</head>

<body>


	<style>
		.fa{
			color:#ef6c00;
      
		}
    select{
      display: initial;
    }
  #img_b{
      background-image: url(" {{asset('pic/car1.jpg') }}");
    }

	</style>
{% block nav %}
   <nav class="" style="background-color: 	#2f2626;"> 
    <!-- or #1f567d color -->
    <l class="nav-wrapper">
      <a href="{{path('library')}}" class="brand-logo"><i class="fas fa-car"> </i></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul class="right hide-on-med-and-down">
        {# <li><a href="{{path('list')}}">Accueil</a></li> #}
        
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
              <li> <p><i class="fas fa-user"> </i> {{ app.user.email }}</p></li>
              <li><a class="link" href="{{path('logout')}}"> <i class="fas fa-sign-out-alt"></i>  Logout  </a></li>
              {% elseif app.user == null %}
              <li><a class="link" href="{{path('app_login')}}" ><i class="fas fa-sign-in-alt"> Login</i> </a></li>
              <li><a class="link" href="{{path('register')}}" ><i class="fas fa-registered"> Register </i>  </a></li>
          {% endif %}
      
 
          
       
        
 
        
      </ul>
      <ul class="side-nav" id="mobile-demo">
       <li><a href="#">Link1</a></li>
        <li><a href="#">Link2</a></li>
        <li><a href="#">Link3</a></li>
      </ul>
    </div>
  </nav>
  {% endblock %}
  {% block flash_message %}
  {% for message in app.flashes('notice') %}
  <div class="card-panel header teal lighten-2">
      {{ message }}
  </div>  
{% endfor %}
  {% endblock %}
  {% if Car.id is defined  %}

  <div style="background-color:#F8EFEF; " >  

    {% else %}

    
 <div class="section no-pad-bot orange lighten-5 "  style="background-color:F8EFEF;">
{% endif %}
    <div class="container" id="ABC">
      <div class="col-md-12">

          <br><br>
       
          
          {% block crud %}
            <div class="container center" >

          <div class="col-md-12">
                  <div class="row center">
                      <h1  class="col-md-12" style=" color:orangered ">
                         Rent car
                      </h1>
                  </div >
                <div class="row ">
                    <small class="float-right col-md-12 center"><b>  Service a haute qualité et moins  coût.</b></small>
                </div>
          </div>
    </div>
            </di>
              {% if is_granted('IS_AUTHENTICATED_FULLY') %}
              <p class="center">
             
               {% if is_granted('ROLE_ADMIN') %}
             
               <a class="btn" href="{{path('super')}}" ><i class="fas fa-user-cog"> Admin</i></a>
               <a class="btn" href="{{path('search1')}}" ><i class="fas fa-search"> Search</i></a>
               {% endif %}
               
               <a class="btn" href="{{path('add1')}}" ><i class="fas fa-plus"> Add </i> </a>
               {% if is_granted('ROLE_USER') %}
              <a href="{{path('dashboard')}}" class="btn"><i class="fas fa-user-minus"> Dashboard</i></a>
               {% endif %}
               
               
            
        
              </p>
              {% endif %}

              
  
          {% endblock %}
      </div>
        

    </div>
</div>
{% block body1 %}

  <div class="container " style="margin-bottom:0">
    <div class="section" >

      <!--   Icon Section   -->
        <div>
            <h2 class="center"><i class="fa fa-cogs icon-block"></i></h2>
            <br>
                {% block body %}
                
                {% endblock %}
            	</p>
          </div>
      
      </div>

    </div>

  {% endblock %}

  <footer class="page-footer "  style="margin:0;  margin-bottom:0;background-color:#2f2626;">
   
  
    <div class="footer-copyright text-center py-3" >
      <div class="container">
       © 2019 Copyright Text
      </div>
    </div>
  </footer>

  <!--  Scripts-->
{% block javascript %}
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    
    <script src="{{asset('js/bootstrap.min.js')}}"></script>
    <script src="{{asset('js/materialize.min.js')}}"></script>

    <script src="{{asset('js/materialize.js')}}"></script>

  <!-- // <script src="{{asset('js/init.js')}}"></script>  -->
    		<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-60673008-2', 'auto');
  ga('send', 'pageview');
</script>
    
{% endblock %}
	
  </body>
</html>

