{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
<div class="input-field col s12">
    {{ form_label(form.name,'Nom :' ,{label_attr :{'class':'form_name'}} ) }}
    {{ form_widget(form.name) }}
    <span><strong style="color:red" > {{ form_errors(form.name) }}</strong></span>
</div>
    
<div class="input-field col s12">
    {{ form_label(form.model,'Modéle :' ,{label_attr :{'class':'form_model'}}) }}
    {{ form_widget(form.model) }}
    <span><strong style="color:red" >{{ form_errors(form.model) }}</strong></span>
</div>
<div class="input-field col s12">
    {{ form_label(form.price,'Prix :' ,{label_attr :{'class':'form_price'}}) }}
    {{ form_widget(form.price) }}
    <span><strong style="color:red" > {{ form_errors(form.price) }}</strong></span>
</div >
<div class=" file-field input-field col s12">
    <div class="btn">
        <span>Add</span>
        {{ form_row(form.image) }}
    </div>
    <div class="file-path-wrapper float-left">
        <input class="file-path validate" type="text">
    </div>
</div>
{{form_label(form.cities)}}
{{form_widget(form.cities)}} 
<br>




<br>