{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
<div class="input-field col s12">
    {{ form_label(form.name,'Nom :' ,{label_attr :{'class':'form_name'}} ) }}
    {{ form_widget(form.name) }}
    <span><strong style="color:red" > {{ form_errors(form.name) }}</strong></span>
</div>
    
<div class="input-field col s12">
    {{ form_label(form.model,'Modéle :' ,{label_attr :{'class':'form_model'}}) }}
    {{ form_widget(form.model) }}
    <span><strong style="color:red" >{{ form_errors(form.model) }}</strong></span>
</div>

<div class="input-field col s12">
    {{ form_label(form.price,'Prix :' ,{label_attr :{'class':'form_price'}}) }}
    {{ form_widget(form.price) }}
    <span><strong style="color:red" > {{ form_errors(form.price) }}</strong></span>
</div>
<div class="input-field col s12">
        {{ form_widget(form.description) }}
        {{ form_label(form.description) }}
        <span><strong style="color:red" > {{ form_errors(form.description) }}</strong></span>
</div> 

<br>

    <div class="" >
            {{form_row(form.fuel)}}
    </div>
    <div class="" >
            {{form_row(form.Color)}}   
    </div>
       



      
<div class="file-field input-field col s12">  
  
      
    <div class="btn float-left  ">
      <span>
             {{(form.image.vars.value.id is defined and form.vars.value.id is not empty ) ? "Edit" :"Add"}}
           
    </span>

    
         
        {{ form_widget(form.image,{attr:{'class':'offset-2'}}) }}
           
    </div> 
    

    {% if form.image.vars.value.id is defined and form.image.vars.value.id is not empty %}
    {# delete an img #}
    <img src="{{asset('pic/')~form.image.vars.value.name}} " class="responsive-img offset-2" width="80px" height="80px">
    <a class="deleteImage btn btn-warning" style="color: white;"  >Supprimer</a>
   <br>
   <div class="file-path-wrapper float-left " >
        <input class="file-path validate " type="text" required>
    </div>
    {% else %}
    <div class="file-path-wrapper float-left">
            <input class="file-path validate" type="text">
    </div>
    {% endif %}


    </div>    

    <div >
   &nbsp;   {{form_label(form.cities)}}
            {{form_widget(form.cities)}} 
    </div>
 
    <br><br>
    <div class="col-md-12">
            {{form_label(form.keywords) }}  
            {{form_widget(form.keywords) }}
            <span><strong style="color:red" >
            {{ form_errors(form.keywords) }}
            </strong></span>

    </div>
  






<br>

